.app{
  width: 100vw;
  display: flex;
}

.location-info {
  background-color: bisque;
  width: 30%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.infobox {
  background-color: chocolate;
  color: white;
  padding: 10px;

}

.info-text {
  margin-bottom: 8px;
  :first-child{
    font-weight: 600;
  }
}